html, body {
  background-color: #212022;
  height: 96%;
}
#mapid {
  height: 100%;
}

.marker-div {
  width: 100px !important;
}

.marker-image {
  width: 200px !important;
}

.marker-span {
  background-color: white !important;
  color: black !important;
}

#time {
  color: white;
}
.marker-p {
  font-size: 10px !important;
}
